.alert {
  border-radius: 0.3rem;
  padding: 1rem 1.2rem;
  border: 2px solid rgba(0, 0, 0, 0.1);
  background-color: white;
  display: flex;
  width: 100%;
  box-sizing: border-box;
}
.alert:not(:last-child) {
  margin-bottom: 1rem;
}
.alert .icon {
  padding-inline-end: 1.2rem;
  display: flex;
  align-items: center;
  color: rgba(0, 0, 0, 0.7);
}
.alert .content {
  display: flex;
  align-items: center;
}
.alert.info {
  background-color: #c7dae9;
}
.alert.warning {
  background-color: #ffefd6;
}
.alert.error {
  background-color: #f1c6d4;
}