@charset "UTF-8";
#protocol-builder {
  margin-bottom: 0.8rem;
}

#add-protocol-component {
  display: flex;
  justify-content: center;
  margin-bottom: 0.8rem;
}

#protocol-formula {
  margin-bottom: 0.8rem;
  text-align: center;
  border-radius: 0.3rem;
  border: 2px solid rgba(0, 0, 0, 0.15);
  background-color: white;
  display: flex;
  justify-content: space-between;
}
#protocol-formula .formula, #protocol-formula .label {
  line-height: 2rem;
  padding: 0 1rem;
}
#protocol-formula .label {
  background-color: rgba(0, 0, 0, 0.1);
}
#protocol-formula button {
  border-width: 0 0 0 0;
  border-radius: 0;
}

#protocols ul {
  margin: 0;
  padding: 0;
}
#protocols li {
  list-style: none;
  position: relative;
  text-align: center;
}
#protocols .condition,
#protocols .group,
#protocols .empty {
  border-radius: 0.3rem;
  border: 2px solid rgba(0, 0, 0, 0.15);
  background-color: white;
  cursor: grab;
  overflow: hidden;
}
#protocols .condition .negation,
#protocols .group .negation,
#protocols .empty .negation {
  appearance: none;
}
#protocols .condition .negation::after,
#protocols .group .negation::after,
#protocols .empty .negation::after {
  content: "¬";
  color: rgba(0, 0, 0, 0.25);
  font-weight: bold;
  display: block;
  line-height: 1.75rem;
  padding: 0 1rem 0.25rem 1rem;
  background-color: rgba(0, 0, 0, 0.1);
  transition: all 0.1s;
}
#protocols .condition .negation:hover::after,
#protocols .group .negation:hover::after,
#protocols .empty .negation:hover::after {
  background-color: rgba(0, 0, 0, 0.05);
}
#protocols .condition .negation:active::after,
#protocols .group .negation:active::after,
#protocols .empty .negation:active::after {
  background-color: rgba(0, 0, 0, 0.15);
}
#protocols .condition .negation:checked::after,
#protocols .group .negation:checked::after,
#protocols .empty .negation:checked::after {
  color: black;
}
#protocols .condition button,
#protocols .group button,
#protocols .empty button {
  border-width: 0;
  border-radius: 0;
}
#protocols .condition {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#protocols .group {
  display: flex;
}
#protocols .group header {
  display: flex;
  flex-direction: column;
  border-right: 2px solid rgba(0, 0, 0, 0.15);
  margin: 0;
}
#protocols .group .content {
  padding: 0.8rem 1rem;
  display: flex;
  flex-grow: 1;
}
#protocols .group .content ul {
  display: block;
  width: 100%;
}
#protocols .connective,
#protocols .swap-candidate .connective {
  cursor: pointer;
  margin: 0.4rem auto;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  box-sizing: border-box;
  position: relative;
  border-radius: 0.3rem;
  border: 2px solid rgba(0, 0, 0, 0.15);
  background-color: white;
  font-weight: bold;
  background-color: white;
  color: black;
}
#protocols .connective.or,
#protocols .swap-candidate .connective.or {
  padding: 0 1rem 0 3rem;
}
#protocols .connective.or::before,
#protocols .swap-candidate .connective.or::before {
  content: "∧";
  position: absolute;
  left: 0;
  width: 2rem;
  display: block;
  background-color: rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.25);
}
#protocols .connective.and,
#protocols .swap-candidate .connective.and {
  padding: 0 3rem 0 1rem;
}
#protocols .connective.and::after,
#protocols .swap-candidate .connective.and::after {
  content: "∨";
  position: absolute;
  right: 0;
  width: 2rem;
  display: block;
  background-color: rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.25);
}
#protocols .empty {
  background-color: rgba(0, 0, 0, 0.1);
  border: none;
  padding: 1.5rem;
}
#protocols .group-hoveredover {
  position: relative;
  overflow: hidden;
}
#protocols .group-hoveredover::before,
#protocols .group-hoveredover::after {
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  padding: calc(.8rem - 1px) 0;
  z-index: 10;
}
#protocols .group-hoveredover::before {
  content: "Move after group";
  background-color: yellow;
  left: 0;
}
#protocols .group-hoveredover::after {
  content: "Move inside group";
  background-color: blue;
  left: 50%;
  color: white;
}
#protocols #constituent-popover {
  position: relative;
  width: 100%;
}
#protocols #constituent-popover .window {
  display: none;
}
#protocols #constituent-popover.visible .window {
  display: block;
}
#protocols #constituent-popover .window {
  position: absolute;
  top: 0;
  left: calc(25% - 0.5rem + 1px);
  border-radius: 0.3rem;
  border: 2px solid rgba(0, 0, 0, 0.15);
  background-color: white;
  padding: 0.8rem 1rem;
  box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.2);
  width: calc(50% - 1rem - 6px);
}
#protocols #constituent-popover .window .constituents {
  flex-wrap: wrap;
  display: flex;
  width: 100%;
}
#protocols #constituent-popover .window .constituents button {
  width: calc(50% - 0.5rem);
  box-sizing: border-box;
}
#protocols #constituent-popover .window .constituents button:nth-child(2n-1) {
  margin-right: 0.5rem;
}
#protocols #constituent-popover .window .constituents button:nth-child(2n) {
  margin-left: 0.5rem;
}
#protocols #constituent-popover .window .constituents button:not(:nth-child(1)):not(:nth-child(2)) {
  margin-top: 0.8rem;
}
#protocols #constituent-popover .window header button {
  position: absolute;
  top: 0.3rem;
  right: 0.5rem;
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  line-height: 2rem;
  width: 2rem;
}
#protocols #constituent-popover .window header button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
#protocols #constituent-popover .window::before, #protocols #constituent-popover .window::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  left: calc(50% - 0.8rem);
  border-left: 0.8rem solid transparent;
  border-right: 0.8rem solid transparent;
}
#protocols #constituent-popover .window::before {
  top: calc(-1 * 0.8rem - 1px);
  border-bottom: 0.8rem solid rgba(0, 0, 0, 0.1);
}
#protocols #constituent-popover .window::after {
  top: calc(-1 * 0.8rem + 1.5px);
  border-bottom: 0.8rem solid white;
}