body {
  font-size: 16px;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: black;
}
body p, body li {
  line-height: 24px;
}
body code {
  background-color: rgba(102, 102, 255, 0.25);
  border: 2px solid rgba(0, 0, 0, 0.1);
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 85%;
  padding: 0.125rem 0.4rem 0.1rem;
  border-radius: 0.3rem;
}

h1 {
  font-size: 28.344976px;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 14.172488px;
}

h1 + p.subtitle {
  font-size: 12.88408px;
}

h2 {
  font-size: 25.76816px;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 12.88408px;
}

h2 + p.subtitle {
  font-size: 11.7128px;
}

h3 {
  font-size: 23.4256px;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 11.7128px;
}

h3 + p.subtitle {
  font-size: 10.648px;
}

h4 {
  font-size: 21.296px;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 10.648px;
}

h4 + p.subtitle {
  font-size: 9.68px;
}

h5 {
  font-size: 19.36px;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 9.68px;
}

h5 + p.subtitle {
  font-size: 8.8px;
}

h6 {
  font-size: 17.6px;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 8.8px;
}

h6 + p.subtitle {
  font-size: 8px;
}