body {
  font-size: 18px;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 27px;
}

h1 {
  font-size: 41.6350937812px;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 20.8175468906px;
}

h1 + p.subtitle {
  font-size: 18.1022146875px;
}

h2 {
  font-size: 36.204429375px;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 18.1022146875px;
}

h2 + p.subtitle {
  font-size: 15.74105625px;
}

h3 {
  font-size: 31.4821125px;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 15.74105625px;
}

h3 + p.subtitle {
  font-size: 13.687875px;
}

h4 {
  font-size: 27.37575px;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 13.687875px;
}

h4 + p.subtitle {
  font-size: 11.9025px;
}

h5 {
  font-size: 23.805px;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 11.9025px;
}

h5 + p.subtitle {
  font-size: 10.35px;
}

h6 {
  font-size: 20.7px;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 10.35px;
}

h6 + p.subtitle {
  font-size: 9px;
}