@use 'variables'as v;
@use 'mixins'as m;
@use 'theme';
@use 'sass:color';

.alert {
    @include m.box;
    display: flex;
    width: 100%;
    box-sizing: border-box;
    color: theme.$baseTextColor;

    &:not(:last-child) {
        margin-bottom: v.$pad-v;
    }

    .icon {
        padding-inline-end: v.$pad-h;
        display: flex;
        align-items: center;
        color: color.scale(theme.$baseTextColor, $alpha: -30%);
    }

    .content {
        display: flex;
        align-items: center;
    }

    &.info {
        background-color: theme.$lightBlue;
    }

    &.warning {
        background-color: theme.$lightYellow;
    }

    &.error {
        background-color: theme.$lightRed;
    }
}