@use 'variables' as v;
@use 'sass:color';
@use 'mixins' as m;
@use 'theme';

.call-list {
    display: flex;
    flex-wrap: wrap;
}

.call, .dead-end {
    padding: 0 v.$pad-h / 2;
    line-height: 2rem;
    margin-right: v.$pad-h / 2;
    margin-bottom: v.$pad-v / 2;
    border-radius: v.$border-radius;
    text-align: center;
    cursor: default;
}

.call {
    background-color: theme.$lightBlue;
    border: 2px solid color.scale(theme.$baseTextColor, $alpha: -85%);

    &.current {
        background-color: theme.$lightYellow;

        &:hover {
            background-color: color.scale(theme.$lightYellow, $lightness: 25%);
        }

        &:active {
            background-color: color.scale(theme.$lightYellow, $lightness: -25%);
        }
    }

    &:hover {
        background-color: color.scale(theme.$lightBlue, $lightness: 25%);
    }

    &:active {
        background-color: color.scale(theme.$lightBlue, $lightness: -25%);
    }
}

.dead-end {
    background-color: theme.$lightRed;
    border: 2px solid color.scale(theme.$baseTextColor, $alpha: -85%);
}

#sequences .input-group {
    &:focus-within {
        #call-sequence-input:focus+#call-sequence-validity {
            box-shadow: 0 0 0 4px theme.$lightBlue;

        }
    }
}

#call-sequence-input:focus {
    box-shadow: 6px 0 0 -2px theme.$baseBgColor, 
                4px 0 0 color.scale(theme.$baseTextColor, $alpha: -85%), 
                0 0 0 4px theme.$lightBlue;
}

#call-sequence-validity {
    display: none;

    &.permitted,
    &.not-permitted {
        display: block;
        background-color: transparent;
        border-left: none;
    }
}

#execution-tree {
    $nwd: 3.6rem; // node width
    $nht: 2rem; // node height
    $hsp: .8rem; // horizontal space between nodes
    $vsp: .4rem; // vertical space between nodes
    $ewd: 2px; // edge width

    ul, li { 
        margin: 0; 
        padding: 0;
        list-style: none;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
    }

    ul {
        flex-direction: column;
        position: relative;
    }

    .dead-end {
        height: $nht;
        margin-left: $hsp;
        margin-bottom: $vsp;
        display: flex;
        overflow: hidden;
        align-items: center;
        justify-content: center;
        line-height: $nht;
    }

    ul {

        .call {
            margin: 0 0 $vsp $hsp;
        }

        > li {
            position: relative;

            // Last items
            &:last-child:not(:first-child) {
                &::before {
                    content: "";
                    position: absolute;
                    display: block;
                    width: calc(#{$nwd / 2 + $hsp} + 3px);
                    height: calc(#{$nht / 2 + $vsp} + 3px);
                    left: calc(#{-$nwd / 2} - 3px);
                    top: -$vsp;
                    box-sizing: border-box;
                    border-style: solid;
                    border-width: 0 0 $ewd $ewd;
                    border-bottom-left-radius: v.$border-radius * 2;
                }
            }

            // Middle items
            ~ li:not(:last-child) {
                &::before {
                    content: "";
                    position: absolute;
                    display: block;
                    width: calc(#{$nwd / 2 + $hsp} + 3px);
                    height: calc(#{$nht / 2 + $vsp} + 3px);
                    left: calc(#{-$nwd / 2} - 3px);
                    top: -$vsp;
                    box-sizing: border-box;
                    border-style: solid;
                    border-width: 0 0 $ewd 0;
                }

                // edge stuff
                &::after {
                    content: "";
                    position: absolute;
                    display: block;
                    width: $ewd;
                    left: calc(#{-$nwd / 2} - 3px);
                    height: 100%; //$nht + 2 * $vsp;
                    top: -$vsp;
                    background-color: theme.$baseTextColor;
                }
            }

            // First items
            &:first-child {
                &::before {
                    content: "";
                    position: absolute;
                    display: block;
                    width: $hsp;
                    height: calc(#{$nht / 2 + $vsp} + 3px);
                    left: 0;
                    top: -$vsp;
                    box-sizing: border-box;
                    border-style: solid;
                    border-width: 0 0 $ewd 0;
                }
            }

            // Extra lines
            ul:not(:first-child) {
                &::after {
                    content: "";
                    position: absolute;
                    display: block;
                    width: $ewd;
                    left: calc(#{-$nwd / 2} - 3px);
                    height: calc(100% - #{$nht * 4} - #{$vsp * 2});
                    top: calc(#{$nht} + 4px);
                    background-color: theme.$baseTextColor;
                }
            }
        }
    }
}