@use 'variables' as v;
@use 'sass:color';
@use 'mixins' as m;

.call-list {
    display: flex;
    flex-wrap: wrap;

    .call {
        padding: v.$pad-v / 2 v.$pad-h / 2;
        margin-right: v.$pad-h / 2;
        margin-bottom: v.$pad-v / 2;
        background-color: v.$lightBlue;
        border-radius: v.$border-radius;
        text-align: center;
        border: 2px solid rgba(0,0,0, 10%);
    }
}

#call-sequence-validity {
    display: none;

    &.permitted,
    &.not-permitted {
        display: block;
        background-color: transparent !important;
        border-left: none;
    }
}