@use 'variables' as v;
@use 'sass:color';
@use 'theme';

@mixin border {
    border-radius: v.$border-radius;
    border: 2px solid color.scale(theme.$baseTextColor, $alpha: -85%);
    background-color: theme.$baseBgColor;
}

@mixin box {
    @include border;
    padding: v.$pad-v v.$pad-h;
}