@use 'variables' as v;
@use 'sass:color';
@use 'theme';

@mixin box {
    border-radius: v.$border-radius;
    padding: v.$pad-v v.$pad-h;
    border: 2px solid color.scale(theme.$baseTextColor, $alpha: -90%);;
    background-color: theme.$baseBgColor;
}