@use 'sass:math';

$-header:  -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$-body: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$-base-size: 18px;
$-type-scale: 1.15;

body {
    font-size: $-base-size;
    font-family: $-body;
    line-height: $-base-size * 1.5;
}

@for $level from 1 through 6 {
    $size: $-base-size * math.pow($-type-scale, 7-$level);

    h#{$level} {
        font-size: $size;
        font-family: $-header;
        font-weight: bold;
        // letter-spacing: -1px;
        margin-top: 0;
        margin-bottom: $size / 2;
    }

    h#{$level} + p.subtitle {
        font-size: $size / ($-type-scale * 2);
    }
}