@use 'sass:math';
@use 'variables'as v;
@use 'theme';
@use 'sass:color';

$-header:  -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$-body: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$-mono: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
$-base-size: 16px;
$-type-scale: 1.1;

body {
    font-size: $-base-size;
    font-family: $-body;
    color: theme.$baseTextColor;
    
    p, li {
        line-height: $-base-size * 1.5;
    }

    code {
        background-color: color.scale(theme.$baseTextColor, $alpha: -90%);
        border: 2px solid color.scale(theme.$baseTextColor, $alpha: -90%);
        font-family: $-mono;
        font-size: 85%;
        padding: v.$pad-v / 8 v.$pad-h / 3 v.$pad-v / 10;
        border-radius: v.$border-radius;
    }

    pre {
        background-color: color.scale(theme.$baseTextColor, $alpha: -90%);
        border: 2px solid color.scale(theme.$baseTextColor, $alpha: -90%);
        font-family: $-mono;
        font-size: 85%;
        padding: v.$pad-v / 2 v.$pad-h;
        border-radius: v.$border-radius;
    }
}

@for $level from 1 through 6 {
    $size: $-base-size * math.pow($-type-scale, 7-$level);

    h#{$level} {
        font-size: $size;
        font-family: $-header;
        font-weight: bold;
        margin-top: 0;
        margin-bottom: $size / 2;
    }

    h#{$level} + p.subtitle {
        font-size: $size / ($-type-scale * 2);
    }
}