@use 'sass:color' as c;

$pad-v: 1.3rem;
$pad-h: 1.5rem;
$border-radius: .3rem;

$lightBlue: c.scale(steelblue, $lightness: 70%);
$lightYellow: c.scale(navajowhite, $lightness: 50%);
$lightRed: c.scale(palevioletred, $lightness: 60%);