@use 'node_modules/normalize.css/normalize';
@use 'node_modules/@fortawesome/fontawesome-free/css/svg-with-js.min';
@use 'typography';
@use 'callsequence';
@use 'variables'as v;
@use 'mixins'as m;
@use 'input';
@use 'alert';
@use 'sass:color';

header {
    margin-bottom: v.$pad-v;
}

main {
    width: 1000px;
    margin: 2rem auto 0 auto;
    padding: v.$pad-v v.$pad-h;
    background-color: white;

    section {
        @include m.box;
        margin-bottom: v.$pad-v;
    }
}

#gossip-graph {
    width: 100%;
    box-sizing: border-box;
    position: relative;
}

#gossip-graph.empty {
    padding: v.$pad-v * 4 v.$pad-h;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: darken(white, 30%);

    svg {
        color: darken(white, 10%);
        margin-bottom: 2 * v.$pad-v;
    }
}

#graph-history {
    @include m.box;
}

hr {
    border: 2px solid darken(white, 25%);
    width: 75%;
    margin-left: 0;
}

.columns {
    columns: 2;

    div {
        -webkit-column-break-inside: avoid;
        page-break-inside: avoid;
        break-inside: avoid;
    }
}

.connection-info-container {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.connection-info {
    @include m.box;
    padding: v.$pad-v /2 v.$pad-h / 2;
    display: flex;
    align-content: center;
    transition: all .2s;
    margin-bottom: v.$pad-v / 2;

    .explanation {
        display: none;
    }

    .divider {
        width: 2px;
        background-color: rgba(0,0,0,10%);
        margin-right: v.$pad-h / 2;
    }

    & > div {
        &:not(:last-child) .icon {
            margin-right: v.$pad-h / 2;
        }

        .icon {
            opacity: 0.1;
            width: 1em;
            display: block;
            text-align: center;
        }

        &.visible .icon {
            opacity: 1;
        }
    }

    &:hover {
        flex-direction: column;
        
        & > div {
            display: flex;

            .icon {
                margin-right: v.$pad-h / 2;
            }
        }

        .explanation {
            display: block;
        }

        .divider {
            width: 100%;
            height: 2px;
            margin: v.$pad-v / 2 0;
        }
    }
}