@use 'node_modules/normalize.css/normalize';
@use 'node_modules/@fortawesome/fontawesome-free/css/svg-with-js.min';
@use 'typography';
@use 'callsequence';
@use 'variables'as v;
@use 'mixins'as m;
@use 'sass:color';

header {
    margin-bottom: v.$pad-v;
}

main {
    width: 1000px;
    margin: 2rem auto 0 auto;
    padding: v.$pad-v v.$pad-h;
    background-color: white;
}

input[type=text] {
    width: 100%;
    box-sizing: border-box;
    padding: v.$pad-v / 2 v.$pad-h / 2 v.$pad-v / (3/2) v.$pad-h / 2;
    border: 2px solid darken(white, 25%);
    margin-bottom: v.$pad-v;
}

#gossip-graph {
    @include m.box;
    width: 100%;
    box-sizing: border-box;
}

#gossip-graph.empty {
    padding: v.$pad-v * 4 v.$pad-h;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: darken(white, 30%);

    svg {
        color: darken(white, 10%);
        margin-bottom: 2 * v.$pad-v;
    }
}

.error {
    background-color: moccasin;
    padding: .5rem 1rem;
    border-radius: v.$border-radius;
    width: 100%;
}

hr {
    border: 2px solid darken(white, 25%);
    width: 75%;
    margin-left: 0;
}

.info {
    @include m.box;
    background-color: color.scale(steelblue, $lightness: 80%);
}

.columns {
    columns: 2;

    div {
        -webkit-column-break-inside: avoid;
        page-break-inside: avoid;
        break-inside: avoid;
    }
}